<div class="card">
    <input type="text" (input)="getPokemon($any($event.target).value)" placeholder="type a pokemon name here">

    <div class="card-title">
        <h3>{{pokemon.name}}</h3>
        <span class="pokemon-number">#{{pokemon.id}}</span>
    </div>

    <div class="card-body">
        <img [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}">
    </div>

    <div class="card-stats">
        <span class="card-stats-type {{t.type.name}}" *ngFor="let t of pokemon.types">
            {{t.type.name}}
        </span>
    </div>
</div>